{{>licenseInfo}}
package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import {{invokerPackage}}.ApiInvoker
import {{invokerPackage}}.ApiException

import javax.ws.rs.core.MediaType

import java.io.File
import java.util.Date

import scala.collection.mutable.HashMap

{{#operations}}
  {{#operation}}
  http("{{operationId}}")
  .get("{{basePath}}/{{ApiInvoker}}")
  {{#allParams}}
  .queryParam("{{paramName}}", "1")
  {{/allParams}}

  {{/operation}}
}
{{/operations}}
